<div *ngIf="users" class="list-wrapper">
  <ul class="list">
    <li *ngFor="let item of users" class="list-item" (click)="redirect(item)">
      <div>
        <span [ngStyle]="{'background-color': item.color}">{{item.firstName.charAt(0)}} {{item.lastName.charAt(0)}}</span>
      </div>
      <div class="list-item-content">
        <h4>{{item.firstName}} {{item.lastName}}</h4>
        <p>{{item.email}}</p>
      </div>
    </li>
  </ul>
</div>
