<div *ngIf="user && user.posts && user.posts[0]" class="list-wrapper">
  <ul class="list"  id="posts">
    <li *ngFor="let item of user.posts" class="list-item">
      <div class="alert info">
        <h4>{{item.post}}</h4>
      </div>
    </li>
  </ul>
  <button (click)="exportCsv()">Export as csv</button>
  <button (click)="exportImage()">Save as image</button>
</div>
<div *ngIf="user && user.posts && !user.posts[0]">
  <div class="alert warning">
    <h4>Posts do not exist</h4>
  </div>
</div>

