$white: #fff;
.list {
  background: $white;
  border-radius: 2px;
  list-style: none;
  padding: 10px 20px;
}


.alert {
  padding: 20px;
  color: white;
  opacity: 0.83;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  &.info {
    background-color: #2196F3;
  }
  &.warning {
    background-color: #ff9800;
  }
}
